<div class="container-fluid">
  <div class="grid-container">
    <div
      *ngFor="let number of numbers; let i = index"
      class="grid-item"
      [class.selected]="selectedNumbers.includes(number)"
      [class.disabled]="selectionsCount === numberOfNumbers"
      (click)="selectNumber(number)"
    >
      {{ number }}
    </div>
  </div>
  <div class="d-flex justify-content-center my-4 gap-3">
    <div class="autopick-btn">
      <button
        class="btn btn-info"
        style="width: 150px"
        (click)="getRandomGeneratedNumbers()"
      >
        AUTO PICK
      </button>
    </div>
    <div class="purchase-btn">
      <button
        class="btn btn-success"
        style="width: 150px"
        [class.disabled]="selectionsCount !== numberOfNumbers"
      >
        PURCHASE
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-center mx-2"></div>
</div>
