.grid-container{
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 10px;
    justify-content: center;
}


.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
}

.selected{
    background-color: lightblue;
}

.disabled{
    cursor: default;
}
